{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Handmade</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/html5gallery.js' %}"></script>
    {#    <link rel="stylesheet" href="/static"/>#}
</head>
<body>
<div class="frame">
    <header class="header">
        <div class="logo"><a href="/"> <img src="{% static 'img/logo.png' %}" alt="AIStudio"/></a></div>
        <div class="hphone">+7 917 92 98 956</br>
            +7 917 25 37 403
        </div>
    </header>
    <div class="container">
        <div class="content">
            {% block content %}
            {% endblock %}
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <footer id="footer">
        <ul class="fmenu">
            <li><a href="/portfolio">Портфолио</a></li>
            <li><a href="/about">О нас</a></li>
            <li><a href="">Обратная связь</a></li>
        </ul>
    </footer>
</div>
</body>
</html>