{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="left_block">
        <iframe src="//player.vimeo.com/video/91903234?portrait=0&amp;badge=0" width="100%" height="350" frameborder="0"
                webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="right_block">
        <div class="right_block_text">
            Мы искренне верим, что все то что мы делаем является больше, чем ПРОСТО ВИДЕО. Рассказывая о ком-то историю,
            мы наполняем ее жизнью и любовью, и именно
            поэтому ваш день останется с вами навсегда таким, каким он был на самом деле.
        </div>
    </div>
{% endblock content %}